<p style="color: green"><%= notice %></p>

<% content_for :title, "Recipes" %>

<div class="text-center mb-4">
  <h1>Recettes</h1>
  <%= link_to "Nouvel ensemble de recettes", new_recipe_path, class: "btn btn-success mt-2" %>
</div>

<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= recipe.Name %></h5>
          <p class="card-text"><%= recipe.ingredient_list.truncate(100) %></p>
          <%= link_to "Voir ces recettes", recipe, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>