<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="row">
    <!-- Colonne gauche : Liste des plats -->
    <div class="col-md-6">
      <h2>Plats trouvés dans ce jeu</h2>
      
      <% if @game.foods.any? %> 
        <ul>
          <% @game.foods.each do |food| %>
            <li>
              <%= link_to food.name, food %> - <%= food.description %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>Aucun plat répertorié pour ce jeu.</p>
      <% end %>
    </div>

    <!-- Colonne droite : Détails -->
    <div class="col-md-6">
      <h2><%= @game.title %></h2>
      <p><strong>Game Cover:</strong></p>
      <img src="<%= @game.cover %>" alt="<%= @game.title %>" class="img-fluid mb-3">
      <p><strong>Description:</strong> <%= @game.description %></p>
      <p><strong>Release Year:</strong> <%= @game.release_year %></p>
    </div>
  </div>

  <!-- Boutons pour supprimer le truc ou le modifier -->

  <div class="mt-5">
  <hr class="my-4">
  <div class="d-flex justify-content-center">
    <%= link_to "Modifier les infos de ce jeu", edit_game_path(@game), class: "btn btn-warning mx-2" %>
    <%= link_to "Retourner à la liste des jeux", games_path, class: "btn btn-secondary mx-2" %>
    <%= button_to "Effacer ce jeu", @game, method: :delete, class: "btn btn-danger mx-2" %>
  </div>
</div>